@font-face {
    font-family: D-DIN-Bold;
    src: url(D-DIN-Bold.otf);
}
@font-face {
    font-family: D-DIN;
    src: url(D-DIN.otf);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* top logo and navbar */
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30px 52px;
    margin-top: -1px;
}

#sxlogo {
    width: 210px;
    height: auto;
    margin: 0;
}

h1 {
    margin: 0;
}

@media (max-width: 960px) {
    nav a {
        display: none;
    }
    #sxlogo {
        width: 80%; 
        max-width: 165px;
        padding: 5px;
        box-sizing: border-box; 
        text-align: center; 
        margin: 0 15px;
        position: fixed; 
        top: 10px;
        left: 50%; 
        transform: translateX(-50%);
    }
    .burgerDiv{
        
        margin-top: -22px;

    }
    
}

@media (max-height: 50px) {
    header {
        display: none;
    }
}

nav {
    top: 3px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-left: 21px;    
} 

nav > a {
    margin: 12px 13.8px;
    font-family: D-DIN-Bold;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.navLink {
    position: relative;
}
.navLink::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.navLink:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}



#shopTab {
    margin-left: 45px;
}

.burgerDiv {
    display: flex;
    justify-content: flex-end;
    margin-right: 42px;
}

#hamburg {
    position: fixed;
    margin-top: 42px;
    cursor: pointer;
}

#hamburg div {
    height: 2px;
    width: 16px;
    background-color: white;
    margin: 2px 0 ;
}

button{
    background-color: transparent;
    border-color: transparent
}


/* background images */
.image1 {
    flex: 1;
    background-image: url('newhomepic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    z-index: 5;
}

.image2 {
    flex: 1;
    background-image: url('homepic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    z-index: 4;
}

.image3 {
    flex: 1;
    background-image: url('SXnewhome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    z-index: 3;
}

.slowVid {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}



/* bottom section detail/link */

.bottomText {
    font-size: 20px;
    font-family: D-DIN;
    color: white;
    width: 50%;
    position: absolute;
    left: 50px;
    margin-top: 375px;
}

.bottomText2 {
    font-size: 20px;
    font-family: D-DIN;
    color: white;
    width: 50%;
    position: absolute;
    left: 50px;
    margin-top: 375px;
}

.bottomText3 {
    font-size: 20px;
    font-family: D-DIN;
    color: white;
    width: 50%;
    position: absolute;
    left: 50px;
    margin-top: 375px;
}

.bottomText4 {
    font-size: 2OPX;
    font-family: D-DIN;
    color: white;
    width: 50%;
    position: absolute;
    left: 50px;
    margin-top: 325px;
}

/* launch details */
p {
    /* padding-bottom: 16px; */
    font-size: 20px;
}


.mission {
    padding-bottom: 16px;
    top: -14px;
    font-family: D-DIN-Bold;
    text-shadow: 0 0 2px #555;position: relative;
    font-size: 48px;
}

.watchBox {
    position: relative;
    display: inline-block;
    min-width: 130px;
    padding: 17.5px 15px;
    margin: -2px 0 7px;
    border: 2px solid #fff;
    cursor: pointer;
}

#text {
    font-family: D-DIN-Bold;
    position: relative;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-decoration: none;    
}
.watchBox:hover #text {
    background-color: white;
    color: black;
}
.watchBox:hover {
    background-color: white;
    color: black;
}

.inDropdown {
    display: none;
    position: absolute;
    background-color: #555;
    padding: 13.5px;
}

.inDropdown a {
    font-weight: bolder;
    color: orange;
    text-decoration: none;
}

.watchBox:hover .inDropdown {
    display: block;
    top: 100%;
    left: -2%;
    color: white;
}

#ddtext {
    display: inline;
    white-space: nowrap;
    cursor: default;
}

footer {
    font-family: D-DIN;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    line-height: 30px;
}

#footr p{
    display: inline-block;
    justify-content: space-around;
    margin: 0;
    padding: 5px 21px;
    font-size: 12px;
    font-weight: bold;
}

#info {
    background-size: cover;
    height: 100vh;
}
#dailup {
    flex: 1;
    background-image: url('dialup.gif');
    background-color: rgb(44, 44, 44);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    margin-top: 50px;
}